@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

.fc-main {
  min-height: 100vh;
  font-family: 'IBM Plex Mono', monospace;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  &__footer {
    text-align: center;
  }
}

.fc-logo {
  width: 60px;
}
