.fc-main {
  min-height: 100vh;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  &__footer {
    text-align: center;
  }
}

.fc-logo {
  width: 60px;
}
