.fc-chat-room {
  width: 100%;

  &__aside {
    padding: 15px;
    border: 1px solid #f0f0f0;
  }
}

.fc-shortcut-tip {
  color: #ccc;
  padding: 10px;
}

.ant-page-header {
  padding: 0;

  &-heading-title {
    font-size: 1rem;
  }
}

.fc-message {
  &_user {
    &_current {
      & .ant-comment-content-author-name:after {
        content: "(You)";
        margin-left: 5px;
        color: #272727;
        font-weight: 700;
      }
    }
  }
}
